{% extends "mainApp/wrapper.html" %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
    
    <div class="login-form auth-error">

        <div class="materialContainer">
            <div class="box">
                <div class="title">ВХОД</div>
                <form action="/auth/login/" method="POST">
                    {% csrf_token %}
                    <div class="input">
                        <label for="username"></label>
                        <input type="text" name="username" id="username">
                    </div>

                    <div class="input">
                        <label for="password"></label>
                        <input type="password" name="password" id="password">
                    </div>

                    <div class="button login">
                        <button type="submit"><span>Войти</span> <i class="fa fa-check"></i></button>
                    </div>
                    {% if login_error %}
                    <p class="error">{{ login_error }}</p>
                    {% endif %}
                </form>
                <a href="/auth/register/" class="pass-forgot">Регистрация</a>
            </div>
        </div>
    </div>
{% endblock %}