{% extends "mainApp/wrapper.html" %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
    
  

       
            <div class="box">
                <h1 class="auth__title">ВХОД</h1>
                <form action="/auth/login/" method="POST">
                    {% csrf_token %} 
                        <input class="auth__input" type="text" name="username" id="username">
                        <input class="auth__input" type="password" name="password" id="password">
                        <button class="auth__btn" type="submit">Войти</button>
                    {% if login_error %}
                    <p class="error">{{ login_error }}</p>
                    {% endif %}
                    <a href="/auth/register/" class="auth__reg">Регистрация</a>
                </form>
                
            </div>


{% endblock %}