{% extends "mainApp/wrapper.html" %}
{% block title %}
Список
{% endblock %}

{% block content %}
{% for event in list %}
<div class="users-block">
  <div class="user">
  <div class="photo"><img src="{{event.photo.url}}" alt="{{event.name}}"></div>
  </div>
  <div class="rest-card__headline card__name"> 
    <a href="/event/{{event.id}}" class="text-dark">{{event.name}}</a>
  </div>
     
  <div class="rest-card__description card__descr">
    <div class="rest-card__text">{{event.text}}</div>
    <div class="rest-card__rating">
        <p id="{{event.id}}"
          {% for like in likes %}{% if like.event.id == event.id %}class="like-added"
          {% endif %}{% endfor %}><i class="fas fa-heart" {% if user.is_staff %} onclick="like(this)"{% endif %}>***</i> <span class="mark">{{event.mark}}</span></p>
        </div>
  </div>
</div>
{% endfor %}

<div class="pagination" >
    {% if list.has_previous %}
        <a class="pagination__prev-page" href="?page={{ list.previous_page_number }}">Предыдущая</a>
    {% else %}    
        <a style="visibility: hidden" class="pagination__prev-page" href="">Предыдущая</a>
    {% endif %}

    <span class="pagination__current">{{ list.number }} из {{ list.paginator.num_pages }}</span>

    {% if list.has_next %}
        <a class="pagination__next-page" href="?page={{ list.next_page_number }}">Следующая</a>
    {% else %}
        <a style="visibility: hidden" class="pagination__next-page" href="">Следующая</a>
    {% endif %}
</div>
{% endblock %}
