{% extends "mainApp/wrapper.html" %}

{% block title %}
Главная
{% endblock %}

{% block content %}


<section class="description">
    <div class="description__mask"></div>
    <h1 class="description__headline">У вас есть произведения искусства..?<br>Зарегистрируйте их у нас!</h1>
    <button class="description__register btn"><a href="/work/create">Зарегистрировать</a></button>
</section>



<section class="example">
    <h1 class="example__headline">Примеры произведений</h1>
    <div class="example__short-list width-limit">
        <div class="example__card card-1 card"></div>
        <div class="example__card card-2 card"></div>
        <div class="example__card card-3 card"></div>
        <div class="example__card card-4 card"></div>
    </div>
</section>


{% endblock %}