{% extends "mainApp/wrapper.html" %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="outer-block banner-block">
    <div class="container">
        <div class="content">
            <h1>Регистрация на конкурс‎</h1>
            <p class="change-competition">{{top.name}}</p>
            <a class="button" href="work/{{top.id}}">Принять участие</a>
        </div>
    </div>
</div>
<div class="outer-block news-block">
    <div class="container">
        <div class="news-left">
            {% for new in news %}
            <div class="new">
                <h4><a href="work/{{new.id}}">{{new.name}}</a></h4>
                <p>{{new.text}}</p>
            </div>
            {% endfor %}
        </div>
        <nav class="new-menu">
            <span>Обратите внимание</span>
            <ul>
                {% for b in bar %}
                <li><a href="work/{{b.id}}">{{b.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}