{% extends "mainApp/wrapper.html" %}
{% block title %}
Список
{% endblock %}

{% block content %}

  <section class="art-list">
    {% for work in list %}

      <div class="art-list__card art-card">
        <div class="art-card__mask"></div>
        <img src="{{work.photo.url}}" alt="{{work.name}}" class="art-card__photo">
        <div class="art-card__descr">
          <a href="/work/{{work.id}}" class="art-card__name">{{work.name}}</a>
          <p class="art-card__text">{{work.text}}</p>
          <div class="art-card__rating">
            <p id="{{work.id}}" {% for like in likes %}{% if like.work.id == work.id %} class="like-added"
              {% endif %}{% endfor %}><i class="fas fa-heart" onclick="like(this)"
                ></i> <span class="mark">{{work.mark}}</span></p>
          </div>
        </div>
      </div>
    {% endfor %}
      <div class="pagination">
        {% if list.has_previous %}
        <a class="pagination__prev-page" href="?page={{ list.previous_page_number }}">Предыдущая</a>
        {% else %}
        <a style="visibility: hidden" class="pagination__prev-page" href="">Предыдущая</a>
        {% endif %}
      
        <span class="pagination__current">{{ list.number }} из {{ list.paginator.num_pages }}</span>
      
        {% if list.has_next %}
        <a class="pagination__next-page" href="?page={{ list.next_page_number }}">Следующая</a>
        {% else %}
        <a style="visibility: hidden" class="pagination__next-page" href="">Следующая</a>
        {% endif %}
      </div>
      
  </section>

<!-- {% for work in list %}
<div class="users-block">
  <div class="user">
  <div class="photo"><img src="{{work.photo.url}}" alt="{{work.name}}"></div>
  </div>
  <div class="rest-card__headline card__name"> 
    <a href="/work/{{work.id}}" class="text-dark">{{work.name}}</a>
  </div>
     
  <div class="rest-card__description card__descr">
    <div class="rest-card__text">{{work.text}}</div>
    <div class="rest-card__rating">
        <p id="{{work.id}}"
          {% for like in likes %}{% if like.work.id == work.id %}class="like-added"
          {% endif %}{% endfor %}><i class="fas fa-heart" {% if user.is_staff %} onclick="like(this)"{% endif %}>***</i> <span class="mark">{{work.mark}}</span></p>
        </div>
  </div>
</div>
{% endfor %}
-->

{% endblock %}
