{% extends "mainApp/wrapper.html" %}

{% block title %}
Чат
{% endblock %}

{% block content %}
<div class="outer-block events-block">
<div id="messages">
    {% for message in messages %}
    <div class="message">
        <div>{{message.user_from}}   {{message.date|date:"Y-m-d H:i:s"}}</div>
        <div>{{message.text}}</div>
    </div>
    {% endfor %}
</div>
<div class="send_message">
    <form name="postmessage">
        {% csrf_token %}
        <textarea type="text" placeholder="Введите сообщение..." rows="5" name="text" id="text"
          class="comments__input"></textarea>
      </form>
      <button class="btn" onclick="newMessage()">Отправить</button>
</div>
</div>
{% endblock %}